
/* Nav Brar */

.customNav{
    padding-top: 10px;
    align-items: center;
    background-color: transparent;
}

li a{
    padding: 15px;
}

ul{
    list-style-type: none;
    justify-content: flex-end;
}


/* Jumbotron */
.customJumbo{
    background-image: url(/css/Screenshot\ 2022-12-09\ at\ 2.29.49\ PM.png);
    height:600px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -70px;
    justify-content: flex-start;
}



.jumbotron h1{
    padding: 30px;
}

.customButton{
    background-color: transparent;
    border-radius: 50px;
}
