
/* Nav Brar */

.customNav{
    padding-top: 10px;
    align-items: center;
}
li a{
    padding: 15px;
}

ul{
    list-style-type: none;
    justify-content: flex-end;
}


/* Jumbotron */
.jumbotron{
    background-image: url(/css/Screenshot\ 2022-12-09\ at\ 2.29.49\ PM.png);
    height:700px;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

.customButton{
    background-color: transparent;
    border-radius: 50px;
}
